.style4{
    @import "themes/style4/reset",
    "themes/style4/variables",
    "themes/style4/mixins",
    "themes/style4/main-nav",
    "themes/style4/post-display",
    "themes/style4/style";
}

body.style4{
    position: relative;
    padding-top: 60px;
    background-color: #201e21;
    margin: 0;
    font-family: Verdana, Geneva, sans-serif;
}
