.nav-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    z-index: 5;

    .nav-container{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid $colorGray;
        background-color: $colorMain;
        z-index: 20;
    }
}

.main-nav{
    @include container;
    padding-top: 10px;

    ul{
        font-size: 0;
        float: left;
        width: 50%;

        li{
            display: inline-block;
            font-size: 15px;
            padding: 10px;
        }
        .logo{
            background-color: $colorMainLght;
            padding: 0;

            a{
                color: $colorMain;
                font-size: 30px;
                font-family: "Arial Black", Gadget, sans-serif;
                letter-spacing: -5px;
                padding-left: 5px;
            }
        }
    }

    button{
        float: right;
        margin-right: 10px;
        padding: 10px;
        padding-top: 11px;
        font-size: 16px;
        color: #925ba0;
        background-color: $colorMainDark;
        border: 1px solid #925ba0;

        &:hover{
            color: $colorMainLght;
            background-color: $colorMain;
            border: 1px solid $colorMainDark;
        }
    }
    #themes{
        float: right;

        span{display: none}
    }
}

.login-container{
    // position: relative;
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    @include flexbox;
    background-color: $colorGray;
    transition: all .5s ease-in;
    z-index: 10;

    &.open{
        top: 60px;
    }

    #add-user{
        padding-left: 10%;
        @include flex-grow(1);


        input{padding: 10px;}
    }
    #login{
        padding-right: 10%;
        @include flex-grow(1);
    }

    a.login{
        position: absolute;
        bottom: -25px;
        left: calc(50% - 50px);
        width: 100px;
        height: 25px;
        text-align: center;
        background-image: url('../img/login_bg.svg');

        i{
            font-size: 30px;
            color: $colorGrayLght;
        }
    }
}
