#post-display{

    @include container;
    width: calc(80% + 40px);
    margin-bottom: 40px;
    padding-bottom: 1px;
    background-color: #2e2b2f;

    .write-post{
        margin: 20px;

        i{padding-left: 10px;}
    }

    span{display: none}

    .post-container{
        margin: 0 20px;
        margin-bottom: 20px;
        box-shadow: 3px 3px 10px #282529;

        &:last-child{margin-bottom: 0;}

        .post-profil{
            @include flexbox;
            @include align-items(center);
            padding: 10px;
            border-left: 1px solid $colorGrayLght;
            background-color: #282529;

            i{
                @include order(-1);
                font-size: 25px;
                // background-color: #353134;
                border-radius: 3px;
                margin-right: 10px;
            }
            p{
                @include order(1);
                font-size: 18px;
                color: #d7ceda;
                margin-right: 10px;

            }

            .option-container{
                @include order(2);
                @include flex-grow(1);
                position: relative;
                margin-right: 10px;

                .user-option{
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 15px;
                    padding: 5px 10px;
                    font-size: 16px;
                    color: #5b565d;

                    &.open,
                    &:hover,
                    &:active{
                        background-color: $colorGrayLght;
                        color: #d7ceda;
                        cursor: pointer;
                    }
                }
                #user-profil{
                    // position: absolute;
                    padding: 6px;
                    color: #d7ceda;
                    background-color: $colorGrayLght;
                    border-radius: 3px;
                    box-shadow: 3px 3px 10px #141315;

                    &::before{
                        position: absolute;
                        content: "";
                        width: 0px;
                        height: 0px;
                        border-right: 8px solid $colorGrayLght;
                        border-top: 8px solid transparent;
                        border-bottom: 8px solid transparent;
                        border-left: 8px solid transparent;
                        top: 5px;
                        left: 25px;
                    }


                }
            }
        }

        .post-content{
            border-left: 1px solid $colorGrayLght;
            // background-color: #211f21;

            .post-title{
                padding: 10px 0;
                color: #d7ceda;
                font-weight: bold;
                margin: 0 10px 10px;
                border-bottom: 1px dotted #464348;
            }

            .post-text{
                position: relative;
                padding: 10px;
                padding-bottom: 20px;
                color: #8b878c;
                margin-bottom: 25px;
                // border-bottom: 1px solid $colorGrayLght;

                // &::after{
                //     content: "";
                //     position: absolute;
                //     bottom: 0;
                //     left: 0;
                //     right: 0;
                //     height: 1px;
                //     background-color: $colorGrayLght;
                //
                // }
            }
        }
    }

}
