*{
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    color: $colorGrayLght;
    text-align: center;
    line-height: 34px;
    text-shadow: 0px 6px 10px $colorGray;
    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0 50px -34px 50px;
}
h2{
    color: #8e8d8e;
    font-size: 20px;
}
a{
    text-decoration: none;
}


.logo,
button,
input,
select{border-radius: 3px;}


button{
    padding: 5px;
    font-size: 18px;
    color: #f1baee;
    background-color: $colorMain;
    border: 1px solid $colorMainDark;
    transition: all .5s ease;

    &:hover{
        background-color: $colorMainDark;
        border: 1px solid #f1baee;
    }
}

select{
    @include select;
}

input{
    border: 1px solid $colorMainDark;
    background-color: #e2d7d7;
}

#user-card{display: none;}

#user-display{
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    visibility: hidden;
    transition: all .5s ease-in;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);

    &.open{
        visibility: visible;
        background-color: rgba(78, 38, 88, 0.7);
    }

    .card-container{
        position: relative;
        width: 50%;
        padding: 50px;
        border-radius: 3px;
        text-align: center;
        background-color: #e2d7d7;

        a{
            position: absolute;
            right: 10px;
            top: 10px;

            i{font-size: 30px;}
        }

        i{
            font-size: 150px;
            margin-bottom: 20px;
        }
    }
}

h2{
    position: relative;
    padding: 20px 0;

    &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
        height: 1px;
        background-color: #8e8d8e;

    }

    &.new-compte,
    &.abonne{
        text-align: left;
    }
}

.avatar{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #ec342e;
    }
    &.online::after{background-color: #249e4a;}
}

#user-card{
    // @include flex-basis(50%);
    padding: 40px 50px;
    background-color: $colorGrayLght;
    text-align: center;
    button,
    select{
        width: 80%;
        padding: 5px;
        margin-bottom: 10px;
    }
}
#user-card{

    select{
        background-color: #e2d7d7;
        color: $colorMainDark;
        border-color: $colorMainDark;
    }
}

#user-display{
    clear: both;
}

.add-post-container{
    position: fixed;
    left: 0;
    right: 0;
    bottom: -360px;
    padding: 20px;
    background-color: $colorMain;
    transition: all .7s ease-in;
    z-index: 10;

    &.open{bottom: 0;}

    .write-post{
        position: absolute;
        font-size: 50px;
        right: 10px;
        top: -70px;
        opacity: .5;
        padding: 0 5px 0 10px;

        &:hover{
            opacity: 1;
        }
    }

    #add-post{
        @include flexbox;
        @include flex-wrap(wrap);

        select,
        button[type=submit]{
            width: 200px;
            margin-bottom: 20px;
        }

        select{
            @include order(-1);
            margin-right: 10px;
        }
        button[type=submit]{
            @include order(-1);
            margin-right: calc(100% - 410px);
            background-color: $colorMainDark;
            &:hover{background-color: $colorMain;}
        }

        #title{
            width: 410px;
            margin-right: calc(100% - 410px);
            margin-bottom: 20px;
            padding: 10px;
        }
        #text{
            height: 200px;
            min-height: 200px;
            max-height: 200px;
            width: calc(100% - 10px);
            min-width: calc(100% - 10px);
            max-width: calc(100% - 10px);
        }
    }
}
